# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data & outputs
myenv/
uw_yolov8/data/
aqua_yolo/data/
solaqua/data/
output/
# ignores every processed folder within data-processing:
data-processing/**/processed/   


# Models & large binaries
*.bag
*.mp4
*.npy
*.png
*.jpg
*.zip

sam3.pt
FastSAM-s.pt
FastSAM-x.pt



# OS/editor cruft
.DS_Store
Thumbs.db




