# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data & outputs
myenv/
uw_yolov8/data/
aqua_yolo/data/
output/

# Models & large binaries
*.bag
*.mp4
*.npy
*.png
*.jpg

# OS/editor cruft
.DS_Store
Thumbs.db
