# udon  15,174,734 parameters, 43.5 GFLOPs, interesting
nc: 10

backbone:
  # P1/2
  - [-1, 1, Conv, [32, 3, 2]]              # 0

  # P2/4
  - [-1, 1, Conv, [64, 3, 2]]              # 1
  - [-1, 1, CSMBBackBone1, [64]]         # 2  

  # P3/8
  - [-1, 1, Conv, [128, 3, 2]]             # 3
  - [-1, 1, CSMBBackBone2, [128]]        # 4

  # P4/16
  - [-1, 1, Conv, [256, 3, 2]]             # 5
  - [-1, 1, CSMBBackBone2, [256]]        # 6

  # P5/32
  - [-1, 1, Conv, [256, 3, 2]]             # 7
  - [-1, 1, CSMBBackBone1, [256]]        # 8

  # LKSP 
  - [-1, 1, LKSP, [256]]                # 9


head:
  # --- top-down FPN ---
  - [-1, 1, nn.Upsample, [None, 2, "nearest"]]   # 10: P5 -> P4 size
  - [[-1, 6], 1, Concat, [1]]                    # 11: concat with P4
  - [-1, 1, CSMBNeck1, [128]]                  # 12: P4_td (c_out=256)

  - [-1, 1, nn.Upsample, [None, 2, "nearest"]]   # 13: -> P3 size
  - [[-1, 4], 1, Concat, [1]]                    # 14: concat with P3
  - [-1, 1, CSMBNeck1, [128]]                  # 15: P3_out (c_out=128)

  # --- bottom-up PAN ---
  - [-1, 1, Conv, [128, 3, 2]]                   # 16: P3 -> P4
  - [[-1, 12], 1, Concat, [1]]                   # 17: concat with P4_td
  - [-1, 1, CSMBNeck1, [256]]                  # 18: P4_out (c_out=256)

  - [-1, 1, Conv, [256, 3, 2]]                   # 19: P4 -> P5
  - [[-1, 9], 1, Concat, [1]]                    # 20: concat with P5 (SPPF)
  - [-1, 1, CSMBNeck1, [512]]                  # 21: P5_out (c_out=512)

  # --- Detect ---
  - [[15, 18, 21], 1, Detect, [nc]]              # 22
